%% vim: ts=4 sw=4 et ft=erlang
[{qdate, [
    %% default_timezone can be one of two things:
    %%   1) An actual timezone.  Either short-form like "GMT", "UTC", or a
    %%      longer-form (but more likely to pick the correct daylight saving
    %%      config timezone like "America/Chicago"
    %%   2) A 2-tuple of {Module, Function}, which will be called as
    %%      Module:Function() to determine the timezone (say you wanted to
    %%      determine timezone based on some kind of environmental conditions)
    {default_timezone, "GMT"},

    %% See readme section here:
    %% https://github.com/choptastic/qdate#about-backwards-compatibility-with-ec_date-and-deterministic-parsing
    {deterministic_parsing, {zero, zero}},

    %% Preserve Milliseconds in parsing
    %% Changes the return for qdate:to_date to include any Ms value
    %% and also changes the return of to_string to include the Ms value
    {preserve_ms, false}
]}].
