%% -*- erlang -*-
%% vim:ts=4 sw=4 et ft=erlang
{cover_enabled, true}.

{deps,
 [
  %% 0.21.0 only works with rebar3. It's overridden with rebar.config.script in rebar2
  {erlware_commons, {git, "git://github.com/erlware/erlware_commons", {tag, "0.21.0"}}},
  {qdate_localtime, {git, "git://github.com/choptastic/qdate_localtime", {tag, "1.1.0"}}}
 ]}.
