%% -*- erlang -*-
%% vim:ts=4 sw=4 et ft=erlang
{cover_enabled, true}.

{dialyzer, [
    {exclude_apps, []},
    {warnings, []}
]}.

{deps,
 [
  erlware_commons,
  {qdate_localtime, "~> 1.2.0"}
 ]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/choptastic/qdate">>},
          {extras, [<<"README.markdown">>, <<"LICENSE">>]},
          {main, <<"readme">>}]}.

