%% -*- erlang -*-
%% vim:ts=4 sw=4 et ft=erlang
{cover_enabled, true}.

%% For rebar2 compat
{deps,
 [
  {erlware_commons,  ".*", {git, "git://github.com/erlware/erlware_commons.git",     {tag, "v0.15.0"}}},
  {erlang_localtime, ".*", {git, "git://github.com/choptastic/erlang_localtime.git", {branch, master}}}
 ]}.

%% for rebar3
{profiles,
 [{pkg,
   [{deps,
     [
      erlware_commons,
      erlang_localtime
     ]}]}]}.
